<% include('../template/header.ejs') %> 
<style>
    body {
      font-family: Georgia, "Times New Roman", Times, serif;
    }
  </style>
<body>
    <h1>Welcome to Fastify + Typescript Template 🔥</h1>
    <a href="/documentation">
      <h2>Swagger API Documentation</h2>
    </a>
    <div id="app"></div>

    <script>
      let html = "";
      const routes = [
        {
          name: "User API",
          path: "/test",
        },
      ];

      async function initApp() {
        for (const route of routes) {
          const response = await fetch(route.path);
          const json = await response.json();
          html += `<h3>${route.name}</h3>
                    <a href="${route.path}">${route.path}</a>
                    <pre>${JSON.stringify(json)}</pre>`;
        }
        document.getElementById("app").innerHTML = html;
      }

      initApp();
    </script>
  </body>